.mymein-content
  .mypage
    %section.mypage__icon
      = link_to "#" do
        %figure
        = image_tag "/ロゴ/ningen.png", class:"icon"
      %p.mypage__icon__nicname nicname
      .mypage__icon__number
        .mypage__icon__number__list
          %p 評価
          .bold 60
        .mypage__icon__number__list  
          %P 出品数
          .bold 80
  %section.tabb-var
    .tab-var__mypage
      =link_to "#" do
        %p.tab-notice お知らせ
      =link_to "#" do
        %p.tab-todo やることリスト
  .tab-content
    %ul.tab-content__notice-list
      =link_to "#" do
        %li.notice
          %figure
          = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .text 商品情報商品情報
          =fa_icon "chevron-right"
      =link_to "#" do
        %li.notice
          %figure
          = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .text 商品商品商品商品出品
          = fa_icon "chevron-right"
        %li.notice
          %figure
          = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .text 商品商品商品商品出品
          =fa_icon "chevron-right"
        %li.btn
          =link_to "#" do
            %p.mypage-notice-list 一覧を見る
  %h2.buy-head 購入した商品
  %section.tab-buy-bought-content
  .tab-buy-bought-content__buy
    =link_to "#" do
      %p.tab-buy 取引中
    =link_to "#" do
      %p.tab-bought 過去の取引
  .mypage-tab
    %ul.mypage-tab__buy-list
      =link_to "#" do
        %li.buy
          %figure
          = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .text 商品商品商品商品出品
          =fa_icon "chevron-right"
      =link_to "#" do
        %li.buy
          %figure
          = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .text 商品商品商品商品出品
          =fa_icon "chevron-right"
        %li.back
          =link_to "#" do
            %p.mypage-buy-list 一覧に戻る