.mymein-content
  .mypage
    %section.mypage__icon
      = link_to mypage_profile_users_path do
        %figure
        = image_tag "/ロゴ/ningen.png", class:"icon"
      .mypage__icon__nicname 
        = current_user.nickname
      .mypage__icon__number
        .mypage__icon__number__list
          %p 評価
          .bold 60
        .mypage__icon__number__list  
          %P 出品数
          .bold 
            =@items.length
          
  %section.tabb-var
    .tab-var__mypage
      %p.tab.tab-A.active お知らせ
      %p.tab.tab-B やることリスト
  .tab-content
    %ul.tab-content__lists.list-A
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたをいいねしました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"  
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Kさんがあなたを評価しました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたを評価しました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
        %li.btn
          =link_to "#" do
            %p.mypage-list 一覧を見る

    %ul.tab-content__lists.list-B.show-none
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたをやりしました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたをやりました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたをやりました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
        %li.btn
          =link_to "#" do
            %p.mypage-list 一覧を見る

  %h2.buy-head 購入した商品
  %section.tab-buy-bought-content
  .tab-var__mypage
    %p.tab.tab-C.active 取引中
    %p.tab.tab-D 過去の取引
  .tab-content
    %ul.tab-content__lists.list-C
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたを買いました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたを買いしました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
        %li.btn
          =link_to "#" do
            %p.mypage-list 一覧に戻る

    %ul.tab-content__lists.list-D.show-none
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Mさんがあなたを過去に買いました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
      =link_to "#" do
        %li.content
          %figure
            = image_tag "/ロゴ/ロゴ.png", class:"icon"
          .content__body 
            .text Sさんがあなたを過去に買いました。
            .time
              =fa_icon "clock-o"
              %p 999 年前
          =fa_icon "chevron-right",class:"arrow"
        %li.btn
          =link_to "#" do
            %p.mypage-list 一覧に戻る