.identification-wrapper
  = render "/items/header"
  = render "/items/sell"

  .pankuzu
    =link_to "#" do
      %p.top メルカリ
    =fa_icon "chevron-right"
    %p.top マイページ
    =fa_icon "chevron-right"
    .bold 支払い方法


  .identification-content
    = render "identification-var"
    .mypage-content
      本人情報の登録
      お客さまの本人情報をご登録ください。
      登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      = link_to '#' do
        本人確認書類のアップロードについて







= render "/items/footer"
