= render "/items/header"
= render "mysell"
.pankuzu
  =link_to root_path do
    %p.top メルカリ
  .pan
    =fa_icon "chevron-right"
  =link_to mypage_users_path do
    %p.top マイページ
  .pan
    =fa_icon "chevron-right"
  .bold 出品中
.mypage-content
  = render "listing-var"
  .listing
    .listing__head
      %p.l-head  出品した商品
    .listing__tab
      .listing__tab.tab-a
        =link_to mypage_listings_users_path do
          %p 出品中
      .listing__tab.tab-b
        =link_to "#" do
          %p 取引中
      .listing__tab.tab-c
        =link_to mypage_complete_users_path do
          %p 売却済み
    = render "listing-items"
= render "/items/footer"
