= render "/items/header"
= render "mysell"
.pankuzu
  =link_to root_path do
    %p.top メルカリ
  =fa_icon "chevron-right"
  =link_to mypage_users_path do
    %p.top マイページ
  =fa_icon "chevron-right"
  .bold ログアウト
.mypage-content
  = render "left-var"
  .log-btn
    = link_to destroy_user_session_path ,method: :delete do
      %p.log-btn__p ログアウト
= render "/items/footer"