= render "myheader"
= render "mysell"
.pankuzu
  =link_to "#" do
    %p.top メルカリ
  =fa_icon "chevron-right"
  %p.top マイページ
  =fa_icon "chevron-right"
  .bold ログアウト
.mypage-content
  = render "left-var"
  = link_to destroy_user_session_path ,method: :delete do
    .mainbtn
      %p.log-btn ログアウト
= render "/items/footer"