= render "/items/header"
= render "/items/sell"
.pankuzu
-# - breadcrumb :mypage
-# = render "layouts/breadcrumbs"
  -# =link_to "#" do
  -#   %p.top メルカリ
  -# =fa_icon "chevron-right"
  -# .bold マイページ
.mypage-content
  = render "myleft-content"
  = render "mymein-content"
  

= render "/items/footer"