= render "/items/header"
= render "/items/sell"
.pankuzu
  =link_to root_path do
    %p.top メルカリ
  =fa_icon "chevron-right"
  .bold マイページ
.mypage-content
  = render "myleft-content"
  = render "mymein-content"
  

= render "/items/footer"