.wrapper

  = render "users/users_header"

  %h1.user-h1 新規会員登録

  .type.type_singup
    .type__wrapper
      .type__wrapper__mail
        = link_to new_user_registration_path, class: "type__wrapper__mail__center" do
          = fa_icon "envelope-o lg", class: "type__wrapper__mail__center--icon"
          %span.type__wrapper__mail__center--content
            メールアドレスで登録する
      .type__wrapper__facebook.type__wrapper--radius
        = link_to "#", class: "type__wrapper__facebook__center" do
          = fa_icon "facebook-official 2x", class: "type__wrapper__facebook__center--icon"
          %span.type__wrapper__facebook__center--content  Facebookで登録する
      .type__wrapper__google.type__wrapper--radius
        = link_to "#", class: "type__wrapper__google__center" do
          = fa_icon "google lg", class: "type__wrapper__google__center--icon"
          %span.type__wrapper__google__center--content
            Googleで登録する

  = render partial: "users/users_footer"



