
.wrapper
  .mercari-logo
    = link_to root_path, class: "mercari-logo--content" do
      mercariロゴ 

  %h1.user-h1 新規会員登録

  .type
    .type__wrapper
      .type__wrapper__mail
        = link_to signup_registration_path, class: "type__wrapper__mail__center" do
          = fa_icon "envelope-o", class: "type__wrapper__mail__center--icon"
          %span.type__wrapper__mail__center--content
            メールアドレスで登録する
      .type__wrapper__facebook
        = link_to "#", class: "type__wrapper__facebook__center" do
          = fa_icon "facebook-official", class: "type__wrapper__facebook__center--icon"
          %span.type__wrapper__facebook__center--content  Facebookで登録する
      .type__wrapper__google
        = link_to "#", class: "type__wrapper__google__center" do
          = fa_icon "google", class: "type__wrapper__google__center--icon"
          %span.type__wrapper__google__center--content
            Googleで登録する

  .rule
    .rule__wrapper
      = link_to new_user_registration_path, class: "rule__wrapper--deco" do
        プライバシーポリシー
      = link_to "#", class: "rule__wrapper--deco" do
        メルカリ利用規約
      = link_to "#", class: "rule__wrapper--deco" do
        特定商取引に関する表記

  = render partial: "users/users_footer"



