.wrapper

  = render "users/users_header"

  .no_account
    アカウントをお持ちでない方はこちら
    .no_account__signup
      = link_to signup_users_path, class: "no_account__signup--link" do
        新規会員登録

  .type.type_login
    .type__wrapper
      .type__wrapper__facebook
        = link_to "#", class: "type__wrapper__facebook__center" do
          = fa_icon "facebook-official 2x", class: "type__wrapper__facebook__center--icon"
          %span.type__wrapper__facebook__center--content  Facebookで登録する
      .type__wrapper__google
        = link_to "#", class: "type__wrapper__google__center" do
          = fa_icon "google lg", class: "type__wrapper__google__center--icon"
          %span.type__wrapper__google__center--content
            Googleで登録する

  .form-wrapper.form-wrapper-login
    .form-wrapper__center.form-wrapper-login__center-login
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "field--deco"
        .field
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "field--deco"
        
        %br/
        .form-wrapper__center__self-check
          = check_box_tag :check
          = label_tag :check, "私はロボットではありません"

        %br/
        .actions
          = f.submit "ログイン", class: "actions--submit"
        
        %br/
        = link_to "#", class: "no-pass" do
          パスワードをお忘れの方


  = render "users/users_footer"
