
.category-wrapper
  .category-all
    .category-type
      .category-type__title
        %h3 新着アイテム
        = link_to "#" do
          もっと見る >
      %ul.category-type__contents
        - items.each_with_index do |item, i|
          - if i >= 10
            - break
          = link_to item_path(1) do
            %li.category-type__contents__item
              .category-type__contents__item__image
                - images = item.images
                - image = images[0]
                = image_tag "#{image.image_url}"
              .category-type__contents__item__name
                = item.item_name
              .category-type__contents__item__price
                = "¥#{item.price.to_s(:delimited)}"
