
.category-wrapper
  .category-all
    .category-type
      .category-type__title
        %h3 新着アイテム
        = link_to "#" do
          もっと見る >
      %ul.category-type__contents
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999                     
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999                     
        = link_to "#" do
          %li.category-type__contents__item
            .category-type__contents__item__image
              %img{src:"/ロゴ/靴.jpg"}
            .category-type__contents__item__name
              《新品》おしゃれなスニーカー
            .category-type__contents__item__price
              ¥999