.footer__top
  .footer__top__content
    .footer__top__content__left
      .footer__top__content__left__notice1
        スマホでかんたんフリマアプリ
      .footer__top__content__left__notice2
        今すぐ無料ダウンロード！
      .footer__top__content__left__app
        %img{src:"/ロゴ/ロゴ.png" ,class:"rogo"}
        = link_to "", "#", class: "footer-img__icon-box--apple", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-gb/badge-lrg.svg?releaseDate=2012-05-31&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
        = link_to "#" do
          %img{src: "/ロゴ/google.png" ,class:"google"}
    .footer__top__content__right
      
      %img{src: "/ロゴ/スマホ.png"}
.footer__bottom
  .footer__bottom__content
    .footer__bottom__content__about
      %h2 メルカリについて
      %ul
        = link_to "#" do
          %li 
            %P 会社概要（運営会社）
        = link_to "#" do
          %li
            %P 採用情報
        = link_to "#" do
          %li
            %P プレスリリース
        = link_to "#" do
          %li
            %P 公式ブログ
        = link_to "#" do
          %li
            %P メルカリロゴ利用ガイドライン
        .footer__bottom__content__about__sns
          =link_to "#" do
            .footer__bottom__content__about__sns__twitter
              = fa_icon "twitter"
          =link_to "#" do
            .footer__bottom__content__about__sns__facebook
              = fa_icon "facebook-square"
    .footer__bottom__content__help
      %h2 ヘルプ＆ガイド
      %ul
        = link_to "#" do
          %li 
            %P メルカリガイド
        = link_to "#" do
          %li
            %P らくらくメルカリ便
        = link_to "#" do
          %li
            %P ゆうゆうメルカリ便
        = link_to "#" do
          %li
            %P 大型メルカリ便
        = link_to "#" do
          %li
            %P 車体取引ガイド
        = link_to "#" do
          %li
            %P メルカリあんしん・あんぜん宣言！
        = link_to "#" do
          %li
            %P 偽ブランド品撲滅への取り組み
        = link_to "#" do
          %li
            %P メルカリボックス
    .footer__bottom__content__privacy
      %h2 プライバシーと利用規約
      .lists
        %ul
          = link_to "#" do
            %li
              %P プライバシーポリシー
          = link_to "#" do
            %li
              %P メルカリ利用規約
          = link_to "#" do
            %li
              %P あんしんスマホサポート制度に関する利用特約
          = link_to "#" do
            %li
              %P コンプライアンスポリシー
        %ul
          = link_to "#" do
            %li
              %P 個人データの安全管理に係る基本方針
          = link_to "#" do
            %li
              %P 特定商取引に関する表記
          = link_to "#" do
            %li
              %P 資金決済法に基づく表示
          = link_to "#" do
            %li
              %P 法令順守と犯罪抑止のために
    .footer__bottom__content__country
      %h2 国
      %ul
        = link_to "#" do
          %li
            %P 日本
        = link_to "#" do
          %li
            %P United Stat
  .footer__bottom__last
    %img{src:"/ロゴ/白.png"}