.top__header
  .top__header__content
    .top__header__content__1
      = link_to root_path do
        = image_tag "/ロゴ/image.png"
      %input{type: "text",placeholder: "何かお探しですか？"}
        = fa_icon "search"
    .top__header__content__2
      .top__header__content__2__left
        .top__header__content__2__left__category
          = link_to "#" do
            = fa_icon "list-ul"
            %span カテゴリから探す
          -# .hidden
          -#   - @category= Category.all
          -#   - @category.each do |c|
          -#     .hidden__category.none
          -#       = c.category_name
        .top__header__content__2__left__brand
          = link_to "#" do
            = fa_icon "tag"
            %span ブランドから探す
      - if user_signed_in?      
        .top__header__content__2__right
          .top__header__content__2__right__like
            = link_to "#" do
              = fa_icon "heart-o"
              %span いいね！一覧
          .top__header__content__2__right__notice
            = link_to "#" do
              = fa_icon "bell-o"
              %span お知らせ               
          .top__header__content__2__right__todo
            = link_to "#" do
              = fa_icon "check"
              %span やることリスト
          .top__header__content__2__right__mypage
            = link_to "/users/mypage" do
              = image_tag "/ロゴ/ningen.png", class:"icon"
              %span.m マイページ
      - else
        .top__header__content__2__right
          .top__header__content__2__right__signup
            = link_to signup_users_path do
              新規会員登録
          .top__header__content__2__right__login
            = link_to new_user_session_path do
              ログイン     