.container
  .header
    
    .header-logo
    = link_to root_path do 
      = image_tag("/ロゴ/image.png", width: '185',height:'auto')
  .body
    - url = ""
    - if request.path.include?("edit")
      -# 編集の場合
      - url = item_path(params[:id]) 
    - else
      -# 出品の場合
      - url = exhibit_items_path
    = form_for @item,url: url, html: {class: "form_operation"} do |f|
      .body__head
        商品の情報を入力
      .body__content
        .input-image
          .label
            出品画像
          .label-mark
            必須
          .small-message
            
            最大10枚までアップロードできます
          .input-image__form
            = f.fields_for :images do |t| 
              .input-image-drop
                .preview
                  -#画像入力フォームの画像を表示させる場所
                  - if request.path.include?("edit")
                    -# 編集の場合
                    - images = @item.images
                    - images.each_with_index do |image, i|
                      .image-preview-box
                        = image_tag "#{image.image_url}", class: "image-preview"
                        .image-preview-box__wrapper
                          .image-preview-box__wrapper--edit
                            編集
                          %div(class = "image-preview-box__wrapper--destroy" data-index = i)
                            削除
                      %div(class="image-preview-space" data-space = i)
                    = t.check_box :_destroy, class: "check_box__destroy"
                .drop-zone
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
                  = t.file_field :image_url,class:"input-image-box",id:"image",multiple: true,name:'images[image_url][]'
              .image-error
              -#エラー表示用のクラス
              
                  
                  
        .input-item-name
          .label
            商品名
          .label-mark
            必須
          .input-item-name__form
          = f.text_field :item_name,placeholder:"商品名(必須40文字まで)",class:"input-textbox"
          %p{class: 'error'}=@item.errors.full_messages_for(:item_name)[0]
          .input-explain
            .label
              商品の説明
            .label-mark
              必須
          .input-explain__form
          = f.text_area :explain,rows:"6",class:"input-textbox",placeholder:"商品の説明(必須1000文字以内)（色、素材、重さ、定価、注意点など）例）\n2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          %p{class: 'error'}=@item.errors.full_messages_for(:explain)[0]
        .input-details
          .message
            商品の詳細
          .form-box
            .input-category
              .label
                カテゴリー
              .label-mark
                必須
              .input-category__form
              
              - temp = []
              - categories_array = []
              - @categories.each do |category|
                - temp[0] = category.category_name
                - temp[1] = category.id
                - categories_array << temp
                - temp = []
              = f.select :category_id,categories_array,{prompt: "---"},{ class: "select-box" }
              - if @item.errors[:category_id].any?
                .error
                  選択してください
              
            .input-size
              .label
                サイズ
              .label-mark
                必須
              .input-size__form
              = f.select :size ,[["---", ''],["XXS以下"],["XS(SS)"],["S"],["M"],["L"],["XL(XL)"],["2XL(3L)"],["3XL(4L)"],["4XL(5L)以上"],["FREE SIZE"]],{},{ class: "select-box" }
              - if @item.errors[:size].any?
                .error
                  選択してください
            .input-brand
              .label
                ブランド
              .input-brand__form
                = f.text_field :brand_id,placeholder:"例)シャネル"
            .input-status
              .label
                状態
              .label-mark
                必須
              .input-status__form
                = f.select :status,[["---", ''],["新品"],["未使用に近い"],["目立った傷や汚れなし"],["やや傷汚れあり"],["傷や汚れあり"],["全体的に状態が悪い"]],{},{ class: "select-box" }
                - if @item.errors[:status].any?
                  .error
                    選択してください
      .input-shipping
        .message
          配送について
          =link_to '?',"#"
        .form-box
          .label
            配送料の負担
          .label-mark
            必須
          .input-fee__form
          = f.select :fee,[["---", ''],["送料込み(出品者負担)"],["着払い(購入者負担)"]],{},{ class: "select-box" }
          - if @item.errors[:fee].any?
            .error
              選択してください
          .label
            発送元の地域
          .label-mark
            必須
          .s_prefecture__form
            = f.collection_select :s_prefecture,Prefecture.all, :id, :name, {prompt: "---"}, {class: "select-box"}
            - if @item.errors[:s_prefecture].any?
              .error
                選択してください 

          .label
            発送までの日数
          .label-mark
            必須
          .s_date__form
            - s_date_type = [["---", ''],["1~2日で発送"], ["2~3日で発送"], ["4~7日で発送"]]
            = f.select :s_date,s_date_type,{},{ class: "select-box" }
            - if @item.errors[:s_date].any?
              .error
                選択してください
      .input-price
        .message
          販売価格(300〜9,999,999)          
          =link_to '?',"#"
        .form-box
          .price
            .box
              .label
                価格
              .label-mark
                必須
            .price_form
              = f.label '¥',class:"price-form__label"
              = f.number_field :price,placeholder:"例)300",class:"price_field",id:"price"
          - if @item.errors[:price].any?
            .error
              300以上9,999,999以下で入力してください
          .charge
            .charge__message
              販売手数料(10%)
            .charge__result
              //販売手数料の計算結果を表示する場所
              ¥
          .profit
            .profit__message
              販売利益
            .profit__result
              //販売利益の計算結果を表示する場所
              ¥
      .self-content.sellbtn-box 
        - if !request.path.include?("edit")
          -# 購入画面前のみ表示させる。編集時には、表示させない。
          = link_to '#' do
            禁止されている出品
          = link_to '#' do
            行為
          を確認してください 
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to '#' do
            偽ブランドの販売
          は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして
          = link_to '#' do
            加盟店規約
          に同意したことになります。
        /現状では入れられないデータカラムを埋める。機能実装毎に削除
        = f.hidden_field :user_id,value:current_user.id
        
        = f.hidden_field :size_type,value:"0"
        = f.hidden_field :view,value:0
        /画像削除フラグ　本編集画面にて選択されたファイルの削除ボタンが押下された場合に設定を行う。
        = f.hidden_field :image_flg, value: "11", class: "hidden-image-flg"
        - if !request.path.include?("edit")
          -# 購入画面前の場合
          = f.submit value: '出品する',class:"form-btn"
          %input(type="button" value="もどる" class="return-btn")
          = f.hidden_field :order_id,value:0
        - else
          -# 編集画面前の場合
          = f.submit value: '変更する',class: "form-btn form-btn-edit"
          %input(type="button" value="キャンセル" class="return-btn")

          
  .sellbottom
    =link_to '#' do
      プライバシーポリシー
    =link_to '#' do
      メルカリ利用規約
    =link_to '#' do
      特定商取引に関する表記
    =link_to image_tag("/ロゴ/logo-gray.png", width: '80',height:'auto')
    .copyright
      ©︎freemarket


