.item__show__title
  %h2
    = @item.item_name
.item__show__content
  .item__show__content__img
    - images = @item.images
    .item__show__content__img__main.disp-active-main
      = image_tag "#{images[0].image_url}"
      - if @item.order != nil
        .soldd
        .soldd-c SOLD
    - images.each_with_index do |image, i|
      .item__show__content__img__main.disp-none-main
        = image_tag "#{images[i].image_url}"
    .item__show__content__img__sub
      - images.each_with_index do |image, i|
        = image_tag "#{image.image_url}"
    .item__show__content__img__sub-test
    .item__show__content__img__sub-test

  %table.item__show__content__table
    %tr.big
      %th 出品者
      %td.sky
        = link_to "#", class: "sky--link" do 
          = @item.user.nickname
        .like
          .good
            = fa_icon "smile-o"
            51873
          .so
            = fa_icon "meh-o"
            44  
          .bad
            = fa_icon "frown-o"
            0  
    %tr.big
      %th カテゴリ
      %td.sky
        %p
          = link_to "#", class: "sky--link" do
            = @item.category.category_name
        -# %p
        -#   = link_to "#", class: "sky--link" do
        -#     >バッグ
        -# %p
        -#   = link_to "#", class: "sky--link" do
        -#     >リュック/バックパック
    %tr
      %th ブランド
      %td.sky
        = link_to "#", class: "sky--link" do
          = @item.brand_id
    %tr
      %th 商品の状態
      %td 未使用に近い
    %tr
      %th 配送料の負担	
      %td 送料込み(出品者負担)
    %tr
      %th 配送の方法
      %td ゆうゆうフリマ便
    %tr
      %th 発送元の地域
      %td.sky
        = link_to "#", class: "sky--link" do 
          = Prefecture.data[@item.s_prefecture.to_i - 1][:name]
    %tr
      %th 発送日の目安
      %td 
        = @item.s_date

.item__show__price
  .item__show__price__main
    = "¥#{@item.price.to_s(:delimited)}"
  .item__show__price__sub
    .item__show__price__sub__tax
      (税込)
    .item__show__price__sub__deli
      -if @item.fee == "送料込み(出品者負担)"
        送料込み
      -else
        送料別  
- if request.path.include?("edit")
  -# 編集画面前のみ表示させる。購入時には、表示させない。
  .item__show__exprain
    %P
      = @item.explain

- if !request.path.include?("edit")
  -# 購入画面前のみ表示させる。編集時には、表示させない。
  - if @item.order != nil
    .item__show__sold
      売り切れました
  -elsif user_signed_in?
    = link_to buy_item_path, class: "item__show__buy" do
      .item__show__buy
        購入画面に進む
  .item__show__exprain
    %P
      = @item.explain
  .item__show__last
    .item__show__last__left
      = link_to "#" do
        .item__show__last__left__like
          = fa_icon "heart-o"
          %span いいね!
      = link_to "#" do
        .item__show__last__left__bad
          = fa_icon "flag-o"
          %span 不適切な商品の報告
    = link_to "#" do
      .item__show__last__right
        = fa_icon "lock"
        %span あんしん・あんぜんへの取り組み
  


