
.wrapper
  = render "sell"
  = render "header"

  .slide
    .slide-image
      .heya
        .cach
          %p スマホで かんたん
          %p.q フリマアプリ
        .naiyou
          %p.w メルカリはスマホカメラだからすぐ出品できる
          %p 購入時も安心な独自のシステムのアプリです
        .app
          = link_to "https://apps.apple.com/jp/app/id667861049?l=ja" do
            = image_tag "/ロゴ/apple.png"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=" do
            = image_tag "/ロゴ/google.png"
    .slide-image
      = image_tag "/ロゴ/クリスマス.png"

  .category-title
    %h2 商品一覧
  = render partial: "category", locals: {items: @items}

  = render "footer"
