
.wrapper
  = render "sell"
  = render "header"

  .slide
    .slide-image
      = image_tag "/ロゴ/部屋.png"
    .slide-image
      = image_tag "/ロゴ/クリスマス.png"

  .category-title
    %h2 商品一覧
  = render "category"
  = render "category"
  = render "category"

  = render "footer"
