
.wrapper
  = render "sell"
  = render "header"
  
  .slide
    .slide-image
      = image_tag "/ロゴ/sky.jpg"
    .slide-image
      = image_tag "/ロゴ/ひまわり.jpeg"

  .category-title
    %h2 商品一覧
  = render "category"
  = render "category"
  = render "category"

  = render "footer"

