
.wrapper
  = render "sell"
  = render "header"
  
  .slide
    .slide-image
      %img{src:"/ロゴ/sky.jpg"}
    .slide-image
      %img{src:"/ロゴ/ひまわり.jpeg"}  

  .category-title
    %h2 商品一覧
  = render "category"
  = render "category"
  = render "category"

  = render "footer"

