.container
  .header
    .header-logo
    = link_to image_tag("/ロゴ/image.png", width: '185',height:'100')
  .body
    = form_for @item,url:exhibit_items_path do |f|
      .body__head
        商品の情報を入力
      .body__content
        .input-image
          .label
            出品画像
          .label-mark
            必須
          .small-message
            最大10枚までアップロードできます
          .input-image__form
            = f.fields_for :images do |t|
              %label.input-image-drop
                .drop-zone
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
                  = t.file_field :image_url,class:"input-image-box"#複数投稿は以下を使う, multiple: true
            
        .input-item-name
          .label
            商品名
          .label-mark
            必須
          .input-item-name__form
          = f.text_field :item_name,placeholder:"商品名(必須40文字まで)",class:"input-textbox"
          .input-explain
            .label
              商品の説明
            .label-mark
              必須
          .input-explain__form
          = f.text_area :explain,rows:"6",class:"input-textbox",placeholder:"商品の説明(必須1000文字以内)（色、素材、重さ、定価、注意点など）例）\n2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .input-details
          .message
            商品の詳細
          .form-box
            .input-category
              .label
                カテゴリー
              .label-mark
                必須
              .input-category__form
              = f.select :category_id,[["---", 0],["カテゴリー1", "カテゴリー１"]],{},{ class: "select-box" }
              
            .input-size
              .label
                サイズ
              .label-mark
                必須
              .input-size__form
              = f.select :size ,[["---", 0],["サイズ1", "サイズ１"]],{},{ class: "select-box" }
              
            .input-brand
              .label
                ブランド
              .input-brand__form
                = f.text_field :brand_id,placeholder:"例)シャネル"
            .input-status
              .label
                状態
              .label-mark
                必須
              .input-status__form
                = f.select :status,[["---", 0],["状態", "状態1"]],{},{ class: "select-box" }
      .input-shipping
        .message
          配送について
          =link_to '?',"#"
        .form-box
          .label
            配送料の負担
          .label-mark
            必須
          .input-fee__form
          = f.select :fee,[["---", 0],["配送料負担1","配送料負担1"]],{},{ class: "select-box" }
            
          .label
            発送元の地域
          .label-mark
            必須
          .s_prefecture__form
            = f.select :s_prefecture,[["---", 0],["配送先1", "配送先1"]],{},{ class: "select-box" }
          .label
            発送までの日数
          .label-mark
            必須
          .s_date__form
            = f.select :s_date,[["---", 0],["発送日時", "発送日時"]],{},{ class: "select-box" }
      .input-price
        .message
          販売価格(300〜9,999,999)          
          =link_to '?',"#"
        .form-box
          .price
            .box
              .label
                価格
              .label-mark
                必須
            .price_form
       
              = f.label '¥',class:"price-form__label"
              = f.number_field :price,placeholder:"例)300",class:"price",id:"price"
          .charge
            .charge__message
              販売手数料(10%)
            .charge__result
              計算結果
              
              %output{name: "result"} -

              /form method="get" action="output.html" oninput="result.value = Number(a.value) + Number(b.value);"


          .profit
            .profit__message
              販売利益
            .profit__result
              計算結果
              %output{:name => "result"} -
      .self-content.sellbtn-box 
        = link_to '#' do
          禁止されている出品
        = link_to '#' do
          行為
        を確認してください 
        %p またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to '#' do
          偽ブランドの販売
        は犯罪であり処罰される可能性があります。
        %p また、出品をもちまして
        = link_to '#' do
          加盟店規約
        に同意したことになります。
        /現状では入れられないデータカラムを埋める。機能実装毎に削除
        = f.hidden_field :user_id,value:0
        = f.hidden_field :order_id,value:0
        = f.hidden_field :size_type,value:"0"
        = f.hidden_field :view,value:0
        = f.submit value: '出品する',class:"form-btn"
        %input(type="button" value="もどる" class="return-btn")
  .bottom
    =link_to '#' do
      プライバシーポリシー',
    =link_to '#' do
      'メルカリ利用規約'
    =link_to '#' do
      特定商取引に関する表記
    =link_to image_tag("/ロゴ/image (2).png", width: '80',height:'65')
    .copyright
    ©︎freemarket
