= render "header"
= render "sell"
.bar
.show-wrapper
  .item
    .item__show 
      .item__show__title
        %h2 《新品》おしゃれなスニーカー
      .item__show__content
        .item__show__content__img
          .item__show__content__img__main
            = image_tag "/ロゴ/靴.jpg"
          .item__show__content__img__sub
        %table.item__show__content__table
          %tr.big
            %th 出品者
            %td
              %P おれ
              .like
                .good
                  = fa_icon "smile-o"
                  51873
                .so
                  = fa_icon "meh-o"
                  44  
                .bad
                  = fa_icon "frown-o"
                  0  


          %tr.big
            %th カテゴリ
            %td.sky
              %p レディース
              %p >バッグ
              %p >リュック/バックパック
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担	
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td 未定
          %tr
            %th 発送元の地域
            %td.sky 東京都
          %tr
            %th 発送日の目安
            %td 1~2日で発送

      .item__show__price
        .item__show__price__main
          ¥999
        .item__show__price__sub
          .item__show__price__sub__tax
            (税込)
          .item__show__price__sub__deli
            送料込み 
      = link_to "#" do    
        .item__show__buy
          購入画面に進む
      .item__show__exprain
        %P まだ一度も使用しておりません。
        %p ターボ機能付きで移動に便利です
        %p 撥水機能がついています
        %p 洗練されたデザインで、冠婚葬祭に活用いただけます
        %p よろしくお願い致します。
      .item__show__last
        .item__show__last__left
          = link_to "#" do
            .item__show__last__left__like
              いいね!
          = link_to "#" do
            .item__show__last__left__bad
              不適切な商品の報告
        = link_to "#" do
          .item__show__last__right
            あんしん・あんぜんへの取り組み
    .bar2        
    .item__comment
      .item__comment__notice
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea{class: "item__comment__comemnt"}
      %input{type:"submit",value:"コメントする", class:"item__comment__btn"}
    .item__link
      = link_to "#" do
        .item__link__prev
          < 中日ドラゴンズファンブック
      = link_to "#" do
        .item__link__next
          ポケモン図鑑 >
    .item__sns
      .item__sns__facebook
        = fa_icon "facebook-official"
      .item__sns__twitter 
        = fa_icon "twitter"
      .item__sns__pinterest  
        = fa_icon "pinterest"
    .item__other
      .item-other__user
        .item-other__user__title
          = link_to "#" do
            おれさんのその他の出品
      .item-other__category
  .bread  
= render "footer"