= render "/items/header"
= render "/items/sell"
.pankuzu
  =link_to "#" do
    %p.top メルカリ
  =fa_icon "chevron-right"
  .bold マイページ
.mypage-content
  = render "/users/myleft-content"
  .right-content
    .c-title
      %h2 クレジットカード情報入力
    = render "new"
= render "/items/footer"