.card-wrapper
  .card-header
    .card-header__logo
      = image_tag "/ロゴ/image.png"
    .card-header__ba  
      = image_tag "/ロゴ/バナーカード.png"
  .title 
    %h2 支払い方法
  = render "new"
  .c-footer
    %ul.c-footer__ul
      %li.c-footer__ul__li
        = link_to "プライバシーポリシー", "#"
      %li.c-footer__ul__li
        = link_to "メルカリ利用規約", "#"
      %li.c-footer__ul__li
        = link_to "特定商取引に関する表記", "#"
    = image_tag "/ロゴ/image (2).png"     